/* Estilo básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li button {
    background: none;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.navbar ul li button:focus {
    outline: none;
}

/* Estilo de las secciones */
.section {
    padding: 50px 20px;
    text-align: center;
}

.proyectos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.proyecto {
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: #ddd;
    border-radius: 8px;
}

.proyecto h3 {
    font-size: 18px;
    color: #333;
}

.proyecto p {
    font-size: 14px;
    color: #555;
}

/* Estilo de los lenguajes de programación */
.lenguajes-lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lenguajes-lista li {
    text-align: center;
    margin: 20px;
}

.lenguajes-lista li .material-icons {
    font-size: 48px;
    color: #333;
    margin-bottom: 10px;
}

.lenguajes-lista li p {
    font-size: 16px;
    color: #333;
}

/* Tema oscuro */
body.dark {
    background-color: #333;
    color: white;
}

body.dark .navbar {
    background-color: #000;
}

body.dark .proyecto {
    background-color: #444;
}

body.dark .proyecto h3,
body.dark .proyecto p {
    color: white;  /* El texto de los proyectos será blanco */
}

body.dark button {
    color: white;
}

body.dark h1, body.dark h2, body.dark p {
    color: white;  /* Aseguramos que todos los textos en modo oscuro sean blancos */
}

body.dark .lenguajes-lista li .material-icons {
    color: white;
}

body.dark .lenguajes-lista li p {
    color: white;
}
